.meet-the-team {
    display: flex;
}

.meet-the-team-names {
    display: flex;
    margin-top: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 200px;
}

.meet-the-team-each-name {
    margin-left: 100px;
    padding-bottom: 500px;
}

.social-links {
    text-align: center;
}

.meet-the-team-title {
    text-align: center;
}

.meet-the-team-name {
    text-align: center;
}