.event-card {
    box-sizing: border-box;
    background-color: hsla(33, 31%, 14%, 0.827);
    color: white;
    /* margin: 5px; */
    border-radius: 5px;
    width: 60%;
    position: relative;
}

.event-card:hover{
    box-sizing: border-box;
    background-color: rgb(201, 147, 103);
    cursor: pointer;
    bottom: .7rem;
    right: .7rem;
    z-index: 5;
    /* border: 3px solid rgb(253, 219, 127); */
    box-shadow: rgba(0, 0, 0, 0.5) 10px 40px 90px 0px;
}

.index-container{
    margin: 10px;
}

.events-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    padding-top: 20px;
    /* align-content: center; */
}

/* .header-for-events {
    position: sticky;
    top: 0;
    z-index: 9;
} */

.backToCalendar {
    display: flex;
    cursor: pointer;
    position: sticky;
    top: 0;
    text-align: left;
    /* width: 100%; */
    /* background-color: #E8E4D9; */
    padding: 20px 0 0 20px;
    z-index: 10;
}

.backToCalendar:hover {
    text-decoration: underline;
}

.event-title {
    font-size: 24px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

.event-description {
    margin: 10px;
}

.outer-events-div {
    /* background-color: #E8E4D9; */
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
}

.title-for-events {
    position: relative;
    color: #000;
    font-weight: 600;
    margin: 10px;
    padding-top: 1rem;
    padding-bottom: .5rem;
    text-align: center;

}

.remove-event-button {
    color: crimson;
    cursor: pointer;
    background-color: white;
    padding: 2px 5px;
    margin: 0.7rem;
    border-radius: 35px;
}

.update-event-button {
    cursor: pointer;
    color: #3d672d;
    border-radius: 20px;
    transition: all .33s ease-out;
    padding: 2px 5px;
    margin: 0.7rem;
    background-color: white;
}

.event-card-date {
    margin: 10px;
}