.event-card {
    background-color: #3d672d;
    color: white;
    margin: 15px;
    border-radius: 5px;
}

.events-div {
    display:block;
}

.event-title {
    font-size: 24px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

.event-description {
    margin: 10px;
}

.outer-events-div {
    background-color: #E8E4D9;
}

.title-for-events {
    color: #000;
    font-weight: 600;
    margin: 10px;
}

.remove-event-button {
    color: crimson;
    cursor: pointer;
    background-color: white;
    padding: 2px 5px;
    margin: 0.7rem;
    border-radius: 35px;
}

.update-event-button {
    cursor: pointer;
    color: #3d672d;
    border-radius: 20px;
    transition: all .33s ease-out;
    padding: 2px 5px;
    margin: 0.7rem;
    background-color: white;
}

.event-card-date {
    margin: 10px;
}