.event-card {
    background-color: #2e2418d3;
    color: white;
    /* margin: 5px; */
    border-radius: 5px;
    width: 60%;
    position: relative;
}

.event-card:hover{
    cursor: pointer;
    border: 3px solid rgb(253, 219, 127);
}

.index-container{
    margin: 10px;
}

.events-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    /* align-content: center; */
}

.event-title {
    font-size: 24px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

.event-description {
    margin: 10px;
}

.outer-events-div {
    background-color: #E8E4D9;
    width: 100%;
}

.title-for-events {
    position: relative;
    color: #000;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

.remove-event-button {
    color: crimson;
    cursor: pointer;
    background-color: white;
    padding: 2px 5px;
    margin: 0.7rem;
    border-radius: 35px;
}

.update-event-button {
    cursor: pointer;
    color: #3d672d;
    border-radius: 20px;
    transition: all .33s ease-out;
    padding: 2px 5px;
    margin: 0.7rem;
    background-color: white;
}

.event-card-date {
    margin: 10px;
}