#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(33, 55, 37, 0.5); */
    transition: all .5s ease-in-out;
    /* animation: fade .5s normal; */
}

.fade-in-out { 
    background-color:rgba(33, 55, 37, 0.5)
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



#modal-content {
    width: min-content;
    position: absolute;
    background-color: rgba(33, 55, 37, 0.6)white;
    border-radius: 10px;
}