.nav{
    position: relative;
    display: flex;
    flex-direction: column;
    /* float: right; */
    height: 98vh;
    width: 60vh;
    justify-self: right;
    /* margin: 36px 24px 48px 0; */
}

.links-nav{
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.task-box {
    display: flex;
    flex-direction: row;
    height: 3rem;
    /* float: left; */
}

#task-title {
    font-weight: 600;
    font: 400 16px 'Lexend Deca', sans-serif;
}

.note-pad {
    font: 400 20px 'Lexend Deca', sans-serif;
    /* text-decoration: underline; */
}

.task-header{
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: space-between;
    font-size: 20px;
}

.navButton{
    width: 75%;
    margin-left: 45px;
    background-color: #6D8E59;
    color:white;
}

.navButton:hover {
    background-color: #292E1E;
}

.eventsLink {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -250%);
}

.eventsLink:hover {
    text-decoration: underline;
    font-weight: 700;
}

.eventsLink:visited {
    color:black;
}

.changeButton {
    border: none;
    background-color: inherit;
}

.deleteButton {
    color: red;
}
.updateButton{
    color: blue
}

.changeButton:hover{
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.eventHeader {
    margin-top: 55px;
    margin-bottom: 25px;
}

.eventDescription {
    margin-bottom: 50px;
}

.btnContainer {
    position: absolute;
    bottom: 0;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.devteamLink {
    text-decoration: none;
    color: black;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-20%, -250%);
}

.devteamLink:hover {
    text-decoration: underline;
    font-weight: 700;
}

.devteamLink:visited {
    color:black;
}
