.links-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    /* float: right; */
    height: 98vh;
    width: 60vh;
    border: 1px solid red;
    justify-self: right;
    margin: 36px 24px 48px 0;
}