.nav{
    position: relative;
    display: flex;
    flex-direction: column;
    /* float: right; */
    height: 98vh;
    width: 60vh;
    border: 1px solid red;
    justify-self: right;
    margin: 36px 24px 48px 0;
}

.links-nav{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-box {
    display: flex;
    flex-direction: row;
    height: 3rem;
    /* float: left; */
}

#task-title {
    font-weight: 600;
    font: 400 16px 'Lexend Deca', sans-serif;
}

.note-pad {
    font: 400 20px 'Lexend Deca', sans-serif;
    /* text-decoration: underline; */
}

.task-header{
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: space-between;
    font-size: 20px;
}

.navButton{
    width: 75%;
    margin-left: 45px;
}
