/* TODO Add site wide styles */
@import "reset.css";

.content-container {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #E8E4D9;
}

p {
    font-family: 'Bitter', serif;
}

h1 {
    font:600 2.1rem 'Lexend Deca', sans-serif;
    padding-bottom: 0.8em;
}

h2 {
    font: 600 1.7rem 'Lexend Deca', sans-serif;
}

.h2 {
    font: 600 1.7rem 'Lexend Deca', sans-serif;
}



.h3 {
    font: 500 1.2rem 'Lexend Deca', sans-serif;
}

.h4 {
    font: 600 .6rem 'Lexend Deca', sans-serif;
}

.p1 {
    font: 400 13px 'Lexend Deca', sans-serif;
}

.p2 {
    font:400 16px 'Lexend Deca', sans-serif;
}

.p3 {
    font: 600 12px 'Lexend Deca', sans-serif;
}

.p4 {
    font: 400 10px 'Lexend Deca', sans-serif;
}

.sp1 {
    font: 400 13px 'Bitter', serif;
}

.sp2 {
    font: 400 16px 'Bitter', serif;
}

.sh1 {
    font: 600 2.1rem 'Bitter', serif;
    padding-bottom: 0.8em;
}

.sh2 {
    font: 600 1.7rem 'Bitter', serif;
}

.sh3 {
    font: 500 1.3rem 'Bitter', serif;
}


.btn {
    border: 0;
    padding: 1em 2em;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    border-radius: 35px;
    cursor: pointer;
}

.btnPrimary {
    background-color: #6D8E59;
    color:white;
    transition: all .33s ease-out;
}

.btnPrimary:hover {
    background-color: #292E1E;
    padding: 1em 4em;
}
.btn3 {
    background-color: #8e5959;
    color:white;
    transition: all .33s ease-out;
}

.btn3:hover {
    background-color: #292E1E;
    padding: 1em 4em;
}

a {
    color: inherit;
}

a:visited {
    color: #b0f0a2;
}

.modalLink {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

.modalLink:visited {
    color: #b0f0a2;
}

.calBtn:hover {
    background-color: #c8bcbc;
}

.txtField{
    width: 100%;
    padding: 10px 1rem;
    margin: 10px 0;
    border: 0;
    border-radius: 3px;
}

.frm {
    position: relative;
    margin-bottom: 2rem;
}

.frm input:focus {
    outline: none;
}

.frm input:disabled {
    opacity: .5;
    background-color: lightgray;
}

textarea:focus{
    outline: none;
}
