#root{
    display: flex;
    justify-content: space-between;
    background: #E8E4D9;
}

.menu {
    cursor: context-menu;
}

.point {
    cursor: pointer;
}

.quikHover {
    transition: all .2s ease-in-out;
}

.quikHover:hover {
    background-color: rgba(183, 199, 14, .5);
    border-radius: 10px;

}
 
.calendar-container{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: 8px 8px 24px 8px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* background: #eee center / contain no-repeat url("../../assets/squirrel-origami-paper-svgrepo-com.svg");
    background-color: #698e59; */
    /* border-radius: 6rem; */
}

.calendar-container::before{
    content: "";
    position: absolute;
    background: center / contain no-repeat url("../../assets/squirrel-origami-paper-svgrepo-com.svg");
    background-color: #698e59;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .6;
    border-radius: 3rem;
    height: 101%;
}

.header-flex-row{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    /* max-height: 1.7vh; */
}

.back-button-div{
    font-size: 24px;
    color: red;
    padding: 0 24px;
    border-radius: 5px;
}


.date-div{
    font-weight: bold;
    display: flex;
    gap: 1vh;
}

.forward-button-div{
    font-size: 24px;
    padding: 0 24px;
    color: green;
    border-radius: 5px;
}

.days-container{
    position: relative;
    /* display: flex; */
    /* border: 1px solid black; */
    border-radius: 5px;
    background: rgba(255, 166, 0, 0.775);
    /* height: 100%; */
    /* max-height: 100%; */
}

.days-row{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cells-container{
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    border: 1px solid black;
    border-radius: 1%;
    height: 100%;
    max-height: 100%;
}

.cells-row-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* height: 100%; */
    min-height: 20%;
}

.cell-box-container{
    border-radius: 5px;
    border: 1px solid black;
    width: 14.28571428571429%;
    min-width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 15.7vh;
    /* background: rgb(, green, blue); */
}

.date-in-cell-box{
    max-width: min-content;
    /* max-height: min-content; */
    /* padding: 2px; */
    padding-left: 4px;
}

.date-in-cell-box-gray{
    max-width: min-content;
    padding: 2px;
    color: lightgrey;
}

.dropdown-root{
    position: absolute;
    z-index: 1;
    top: 4vh;
    background-color: lightgray;
}

.dropdown-container{
    position: relative;
    cursor: pointer;
}

.ul-dropdown{
    position: relative;
    padding: 0.5vh;
}

.ul-dropdown li:hover {
    background-color: #B0F0A2;
}

.add-button-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.add-button{
    position: relative;
    background-color: rgba(47,
        72,
        42, .3);
    /* top: 88%; */
    /* bottom: 75%; */
    /* left: 50%; */
    /* left: 58%; */
    opacity: 0;
    z-index: -1;
    /* height: 13%; */
    /* max-height: 13%; */
    width: 39%;
    max-width: 39%;
    /* padding: 1px; */
    font-size: 1em;
    /* top: 104%; */
    /* left: 39.5%; */
    /* margin: 2px; */
    border: 0;
    /* padding: 1em 2em; */
    text-decoration: none;
    /* font-size: 15px; */
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;


    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.cell-box-container:hover .add-button{
    position: relative;
    opacity: 1;
    z-index: 1;
}

.cal-event-time {
    border-radius: 3px;
}

.complete {

}

.urgent {
    
}

/* .event-modal{
    position: relative;
    z-index: 1;
} */