#root{
    display: flex;
    justify-content: space-between;
}
 
.calendar-container{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.header-flex-row{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    max-height: 1.7vh;
}

.back-button-div{
    color: red;
}

.date-div{
    font-weight: bold;
    display: flex;
    gap: 1vh;
}

.forward-button-div{
    color: green;
}

.days-container{
    position: relative;
    /* display: flex; */
    border: 1px solid black;
    /* height: 100%; */
    /* max-height: 100%; */
}

.days-row{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cells-container{
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    border: 1px solid black;
    height: 100%;
}

.cells-row-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* height: 100%; */
    min-height: 20%;
}

.cell-box-container{
    border: 1px solid black;
    width: 14.28571428571429%;
    min-width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-in-cell-box{
    max-width: min-content;
    /* max-height: min-content; */
    /* padding: 2px; */
    padding-left: 4px;
}

.date-in-cell-box-gray{
    max-width: min-content;
    padding: 2px;
    color: lightgrey;
}

.dropdown-root{
    position: absolute;
    z-index: 1;
    top: 4vh;
    background-color: lightgray;
}

.dropdown-container{
    position: relative;
}

.ul-dropdown{
    position: relative;
    padding: 0.5vh;
}

.add-button-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.add-button{
    position: relative;
    /* top: 88%; */
    /* bottom: 75%; */
    /* left: 50%; */
    /* left: 58%; */
    /* opacity: 0; */
    z-index: -1;
    /* height: 13%; */
    /* max-height: 13%; */
    width: 39%;
    max-width: 39%;
    padding: 1px;
    font-size: 0.7em;
    top: 100%;
    left: 39.5%;
}

.cell-box-container:hover .add-button{
    position: relative;
    opacity: 1;
    z-index: 1;
}