#root{
    display: flex;
    /* justify-content: space-between; */
    background: #E8E4D9;
    height: 100%;
    /* width: 100%; */
}

.menu {
    cursor: context-menu;
}

.point {
    cursor: pointer;
}

.quikHover {
    transition: all .2s ease-in-out;
}

.quikHover:hover {
    background-color: rgba(183, 199, 14, .5);
    border-radius: 8px;

}
 
.calendar-container{
    position: relative;
    width: 100%;
    min-width: 600px;
    height: calc(100% - 16px);
    margin: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    padding: .8rem 2rem;
    overflow-y: auto;
}

/* .calendar-container::before{
    content: "";
    position: absolute;
    background: center / contain no-repeat url("../../assets/squirrel-origami-paper-svgrepo-com.svg");
    background-color: #698e59;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .6;
    border-radius: 3rem;
    height: 100%;
} */

.header-flex-row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    /* border: 1px solid black; */
    border-radius: 5px;
    /* max-height: 1.7vh; */
}

.back-icon {
    display: flex;
    /* font-size: 24px; */
    /* color: red; */
    /* padding: 0 24px; */
    border-radius: 5px;
}


.date-div{
    position: relative;
    font-weight: 600;
    display: flex;
    width: 250px;
    justify-content: center;
    gap: 1vh;
}

.date-display {
    position: relative;
}

.date-display-year {
    position: relative;
}

.forward-icon {
    display: flex;
    border-radius: 5px;
}

.day-name-box {
    width: 14.285%;
    padding: 5px 0;
    /* border: 1px solid blue; */
    background-color: #3d672d;
    color: white;
    border-radius: 2px;
    text-align: center;
}

.days-container{
    position: relative;
}

.days-row{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 5px;
}

.cells-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    border-radius: 1%;
    width: 100%;
    /* max-height: 100%; */
    /* overflow-x: auto; */
}

.cells-row-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap:2.5px;
    min-height: 69px;
}

.cell-box-container {
    position: relative;
    padding: 0 5px 5px 5px;
    overflow: hidden;
    border-radius: 3px;
    width: 14.28571428571429%;
    min-width: 69px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 15.7vh;
    background-color: rgb(255, 255, 255, .9);
}

.date-in-cell-box {
    max-width: min-content;
}

.date-in-cell-box-gray{
    max-width: min-content;
    color: lightgrey;
}

.dropdown-root{
    position: absolute;
    z-index: 1;
    top: 4.5vh;
    background-color: rgba(245, 249, 209, 0.9);
    border-radius: 8px;
}


.dropdown-container{
    /* position: relative; */
    cursor: pointer;
}

.ul-dropdown{
    /* position: relative; */
    /* top: .5vh; */
    padding: 0.5vh;
}

.ul-dropdown li:hover {
    border-radius: 8px;
    background-color: rgb(228, 240, 178);
    text-decoration: underline;
}

#this-year {
    padding-bottom: .1rem;
    border-bottom: 1px solid rgba(47, 72, 42, 0.8);
}

.year-height {
    height: 340px;
    overflow: auto;
}

.add-button-container{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    vertical-align: middle;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button{
    vertical-align: middle;
    align-self: center;
    padding: 0;
    border: 0;
    position: absolute;
    background-color: rgba(47, 72, 42, 0.8);
    color: white;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;


    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.cell-box-container:hover .add-button{
    opacity: 1;
}

.cal-event-time {
    border-radius: 3px;
}
